{% extends 'base.html' %}

{% load static %}

{% block container %}

    {% for post in posts %}
        <div class="container">

            <div class="row">

                <!-- Blog Post Content Column -->
                <div class="col-lg-8">

                    <!-- Title -->
                    <a href="{% url 'core:post' post.slug %}"><h1>{{ post.title }}</h1></a>

                    <!-- Author -->
                    <p class="lead">por {{ post.author.name }}</p>
                    <hr>
                    <!-- Date/Time -->
                    <p>{{ post.created }}</p>
                    <hr>
                    <hr>
                    <!-- Post Content -->
                    <p>{{ post.container | safe | truncatewords:150}}</p>
                    <hr>
                </div>
                            
            </div>
    {% endfor %}
    <!-- /.row -->
    {% if is_paginated %}
      <ul class="pager">
        {% if page_obj.has_previous %}
          <li>
            <a href="/posts?page={{page_obj.previous_page_number}}">«</a>
          </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}    
            <li class="active"><a href="?page={{i}}">{{i}}</a></li>
          {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li>
            <a href="/posts?page={{page_obj.next_page_number}}">»</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
{% endblock %}